In [1]:
import modin.pandas as pd
import bdgenomics.mango.pileup as pileup
from bdgenomics.mango.pileup.track import *

2019-06-25 12:19:54,401	INFO node.py:497 -- Process STDOUT and STDERR is being redirected to /tmp/ray/session_2019-06-25_12-19-54_400803_38807/logs.
2019-06-25 12:19:54,515	INFO services.py:409 -- Waiting for redis server at 127.0.0.1:44794 to respond...
2019-06-25 12:19:54,640	INFO services.py:409 -- Waiting for redis server at 127.0.0.1:29877 to respond...
2019-06-25 12:19:54,647	INFO services.py:806 -- Starting Redis shard with 3.44 GB max memory.
2019-06-25 12:19:54,671	INFO node.py:511 -- Process STDOUT and STDERR is being redirected to /tmp/ray/session_2019-06-25_12-19-54_400803_38807/logs.
2019-06-25 12:19:54,680	INFO services.py:1441 -- Starting the Plasma object store with 10.0 GB memory using /tmp.

## Pileup Visualization Example

This example shows how you can use a modin data frame to visualise genomic data.

In [2]:
data2 = read_bed('data/ucsc_example.bed', skiprows = [0])
data2.head()

,chrom,chromStart,chromEnd,name,score,strand,thickStart,thickEnd,itemRGB,blockCount,blockSizes,blockStarts
0,chr22,1000,5000,cloneA,960,+,1000,5000,0,2,"567,488,","0,3512"
1,chr22,2000,6000,cloneB,900,-,2000,6000,0,"2 433,399,","0,3601",NaN

In [3]:
data = read_bed('data/chr17.582500-594500.bed')
data.head()

,chrom,chromStart,chromEnd,name,score,strand,thickStart,thickEnd,itemRGB,blockCount,blockSizes,blockStarts
0,chr17,5821,31270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chr17,62296,202576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chr17,62296,202576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,chr17,260433,264713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,chr17,290007,295959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
tracks=[Track(viz="features", label="my features", source=pileup.sources.DataFrameSource(data))]

In [5]:
tracks2 = [Track(viz="features", label="my features", source=pileup.sources.DataFrameSource(data2))]

In [6]:
# render tracks in widget
reads = pileup.PileupViewer(locus="chr22:10436-10564", reference="hg19", tracks=tracks2)
reads

A Jupyter Widget